.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;

  @media (max-width: 768px) {
    margin-top: 20px;
    min-height: auto;
  }
}

.login-page__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a6535;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: 0 4px 8px #0000001a;
  width: 80%;
  max-width: 1200px;
  height: 500px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.login-page__image,
.login-page__content {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.login-page__links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.login-page__link {
  background: none;
  border: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
}

.login-page__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
  margin: auto;
}

.login-page__link:hover::after,
.login-page__link--active::after {
  width: 100%;
}

.login-page__link:hover {
  color: #ddd;
}

.login-page__link:focus {
  outline: none;
}

.login-page__image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212429;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;

  img {
    object-fit: contain;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    margin-top: 30px;
    width: auto;
  }
}

.login-page__error-message {
  color: red;
  font-size: 14px;
  margin-top: 20px;
}
