.registerPage-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;

  @media (max-width: 768px) {
    margin-top: 20px;
    min-height: auto;
  }
}

.registerPage-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23252b;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px #0000001a;
  width: 80%;
  max-width: 1200px;
  height: 500px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.registerPage-image,
.registerPage-content {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.registerPage-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.registerPage-link {
  background: none;
  border: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
}

.registerPage-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
  margin: auto;
}

.registerPage-link:hover::after,
.registerPage-link.active::after {
  width: 100%;
}

.registerPage-link:hover {
  color: #ddd;
}

.registerPage-link:focus {
  outline: none;
}

.registerPage-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a6535;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;

  img {
    object-fit: contain;
    max-width: 100%;
    transform: scaleX(-1);
  }

  @media (max-width: 768px) {
    margin-top: 30px;
    width: auto;
  }
}

.registerPage-error-message {
  color: red;
  font-size: 14px;
  margin-top: 20px;
}
