.homepage__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.homepage__container {
  text-align: center;
  padding: 20px;
  background-color: #1a6535;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.homepage__title {
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  margin: 0 15px;
}

.homepage__nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0px;
  margin: 20px;
  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.homepage__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage__nav-link {
  font-size: 1.2em;
  color: black;
  background-color: #f0f0f0;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  display: inline-block;
  white-space: nowrap;
}

.homepage__nav-link:hover {
  background-color: black;
  color: #f0f0f0;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.homepage__nav-link:focus {
  outline: none;
  background-color: #004080;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.homepage__logoff-link {
  font-size: 1.2em;
  color: #fff;
  background-color: #e53935;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  display: inline-block;
  white-space: nowrap;
}

.homepage__logoff-link:hover {
  background-color: #d32f2f;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.homepage__logoff-link:focus {
  outline: none;
  background-color: #b71c1c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
